* {
  padding: 0;
  margin: 0;
  border-style: inherit;
}

a {
  text-decoration: none;
  color: #5c5c5c;
}

.table__link {
  color: white;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  border-style: border-box;
  font-family: 'Red Hat Text', sans-serif;
  padding: 2rem;
  background-color: #5c5c5c;
}
.btn-about {
  border: none;
  background: none;
  color: white;
  letter-spacing: 0.3rem;
  cursor: pointer;
  outline: none;
}
.green-span {
  color: #1abd48;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.btn-about__dismiss {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.about__header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.about__text > p {
  color: white;
  font-size: 1.2rem;
  padding-top: 0.3rem;
  word-break: break-word;
}
.about__span {
  color: #1abd48;
  font-weight: 800;
}
.about__span-goodbye {
  color: #1abd48;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.container__details {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  margin: 0 auto;
}

.container__details-text > p {
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
  word-break: break-word;
}

.border-test {
  border-top: 2px solid black;
}
.details-text--span {
  font-weight: 400;
  font-size: 1.5rem;
}

.details-text--link {
  text-decoration: none;
  color: #1abd48;
}

.container__urlForm {
  max-width: 45rem;
  margin: 0 auto;
}

.urlForm {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}

.urlForm-search {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}

.urlForm__button-search {
  background: #1abd48;
  border: none;
  border-bottom: 0.3rem solid #117a2e;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.15rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.urlForm__label {
  color: white;
  font-weight: 500;
  font-size: 3.5rem;
  padding: 0.6rem 0;
}

.urlForm__label-sub {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
}

.urlForm__slug,
.urlForm__url {
  background-color: #363636;
  height: auto;
  min-height: 4.5rem;
  border: none;
  border-bottom: 0.3rem solid #1d1d1d;
  font-size: 2rem;
  color: white;
  padding-left: 1rem;
  flex-grow: 1;
  border-radius: 0.5rem;
}

.urlForm__button {
  background: #1abd48;
  border: none;
  border-bottom: 0.3rem solid #117a2e;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.15rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.button__search {
  padding-top: 2rem;
  text-align: center;
}
.button__search-btn {
  background: #1abd48;
  border: none;
  border-bottom: 0.3rem solid #117a2e;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button__search-btn:disabled {
  opacity: 0.5;
}

.header {
  height: 75vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 235, 235, 0.2),
      rgba(166, 166, 166, 0.2)
    ),
    url('https://i.imgur.com/8hpDRDO.jpg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative;
}
.header__about {
  justify-content: center;
  text-align: center;
  padding: 2rem 3rem;
}
.header__text-box {
  position: absolute;
  top: 35%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #eee;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 1.35rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*  animation-delay: 3s; 
        animation-iteration-count: 3;
    */
}

.heading-primary--main-green {
  color: #1abd48;
}

.heading-primary--sub1 {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  padding-bottom: 1.2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub2 {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.table__search {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 1.5rem;
}
th,
tr,
td {
  border: 3px solid #1abd48;
  border-collapse: collapse;
  padding: 1rem;
}
th {
  background-color: #1abd48;
  font-size: 1.75rem;
}
.table__search-data-url {
  word-break: break-all;
}
td {
  background-color: #363636;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes pulse {
  0% {
    color: #ccc;
  }
  100% {
    color: #1abd48;
  }
}

@media (min-width: 45rem) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 1.5rem;
  }
  .header {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
  .urlForm-search {
    flex-direction: row;
  }
  .urlForm__button-search {
    margin-top: 0;
    margin-left: 1rem;
  }
  .header__about {
    justify-content: right;
    text-align: right;
  }
  body {
    padding: 3.5rem;
  }
}
